{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">
		
	<style type="text/css">
		*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	
	background: #0c3154;
	font-family: 'Titillium Web', sans-serif;

}


.form {
	
	background: #000;
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;							
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 10 0 40px;
}

label {
	/*position: absolute;*/
	left: 13px;
	color: rgba(255, 255, 255, 1);
 
	pointer-events: none;
	font-size: 20px;
}

.field-wrap {
  position: relative;
  margin-bottom: 1px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
  float: right;
}


input, textarea{
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;
	margin-bottom: 10px;
	transition: border-color .25s ease, box-shadow .25s ease;
}
select,option{
	font-size: 20px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;

	transition: border-color .25s ease, box-shadow .25s ease;
}

select{
	background: none;
}
option{
	background:rgba(19, 35, 47, 0.9) ;
}

input:focus,input:hover,select:focus,select:hover,textarea:hover {
	outline: 5;
	border-color: #ff0000;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
	border-color: #a0b3b0;
}


.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #1ab188;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;

}
.button:hover, .button:focus {
	background: #1ab1b8;
}

.button-block {
	display: block;
	width: 100%;
}

.btn {
   border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;

  height:auto;
  width:auto;
  margin-left: 20px;
  margin-top: 20px;
  /*margin-left: 990px;*/
  /*float:right;*/
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}

	</style>
	<title>Create Event</title>
	</head>
		<body>
 
      			<br><br>
				<h1>Create New Event</h1>
			<div class="form">
				<form method="POST">
				{% csrf_token %}
		
				  <label> Title </label> 
				  <input type="text" name="title1" value="" required autocomplete="off" />

				 <label> Description </label>	 
				 <textarea name="description1" cols="20" rows="4" required autocomplete="off" />
				 </textarea>

				<div class="top-row"> 
					 <div class="field-wrap"> <label>Date</label>
  				 		<input type="date" name="date1" required autocomplete="off" />
  					 </div>

		   				<div class="field-wrap"><label>Time</label>
		    					<input type="time" name="time1" required autocomplete="off" />
		    			</div>

				</div>
				  
					 <label>Guider </label> 
					 <input type="text" name="guider1"  value="" required autocomplete="off" />

					<label>Location	</label>
					<input type="text" name="location1" value="" required autocomplete="off" />
					<center>	<input type="submit" name="submit" value="submit" class="button button-block"></center>
			
				</form>	
			</div>
		</body>
		</html>