{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">
		
	<style type="text/css">
		*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	/*background: rgba(19, 35, 47,0.9);*/
	background: #0c3154;
	font-family: 'Titillium Web', sans-serif;

}


.form {
	/*background: rgba(19, 35, 47, 0.9);*/
	background: #000;
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;							
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	color: #0c3154;
}



h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 10 0 40px;
}

label {
	/*position: absolute;*/
	left: 13px;
	color: rgba(255, 255, 255, 1);
 	height: auto;
 	width: 100%;
	pointer-events: none;
	font-size: 20px;
}

.field-wrap {
  position: relative;
  margin-bottom: 1px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
  float: right;
}


#b1, textarea{
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;
	margin-bottom: 10px;
	webkit-transition:.25s;

	box-shadow .25s ease;
}
select,option{
	font-size: 20px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #ffffff;
	border-radius: 0;

	/*transition:.25s ;*/
	box-shadow:.25s ;
}

select{
	background: none;
}
option{
	background:rgba(19, 35, 47, 0.9) ;
}

input:focus,input:hover,select:focus,select:hover,textarea:hover {
	outline: 5;
	border-color: #ff0000;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
	border-color: #a0b3b0;
}


.button {
	border: 0;
	outline: none;
	border-radius: 4px;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #1ab188;
	color: #ffffff;


}
.button:hover{
	background: #fab1b8;
}
.button:focus {
	color: black;
}
.button-block {
	display: block;
	width: 100%;
}
#c1
{

	float: right;
}

.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;
  width: 100%;
}
.btn{
   border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;
  height:auto;
  width:auto;
  margin-left: 20px;
  margin-top: 20px;
  /*margin-left: 990px;*/
  /*float:right;*/
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}
	</style>
	<title>About Event</title>
	</head>
		<body>
 
      <br><br>
		<h1>Full information about upcoming event</h1>
		
			<div class="form">
					
				<label> Event-id </label> 
				  <label id="b1">{{obj2.id}}</label>

				  <label> Title </label> 
				  <label id="b1">{{obj2.title}}</label>
				


				 <label> Description </label>	

				 <textarea name="description1" cols="20" rows="4" disabled />{{obj2.description}}
				 </textarea>

				<label>Date and Time</label>
				 	 <label id="b1">{{obj2.date}}</label>
  		
				 <label>Guider </label>
				  <label id="b1">{{obj2.guider}}</label> 
				

				<label>Location	</label>
				 <label id="b1">{{obj2.location}}</label>
				
<h3>if any have interested plz <a href="/infoform/create-info-form/?id={{obj2.id}}&&eventTitle={{obj2.title}}">click</a>here</h3>
				<h2> <a href="/event/all-upcoming-event">all events</a></h2>
			

</div>	
			
			</div>
			
		</body>
		</html>