{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Microbird</title>
		<meta name="description" content="Microbird , YMCAUST Electronics Club Website">
		<meta name="keywords" content="Microbird website, electronics club, ymcaust,ymca faridabad,ymca club,technical club" />
		<meta name="author" content="IT Cell, Microbird">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Google Fonts  -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="{% static "home/inc/bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "home/inc/animations/css/animate.min.css" %}">
		<link rel="stylesheet" href="{% static "home/inc/font-awesome/css/font-awesome.min.css" %}"> <!-- Font Icons -->
		<link rel="stylesheet" href="{% static "home/inc/owl-carousel/css/owl.carousel.css" %}">
		<link rel="stylesheet" href="{% static "home/inc/owl-carousel/css/owl.theme.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
		<!-- Theme CSS -->
        <link rel="stylesheet" href="{% static "home/css/reset.css" %}">
		<link rel="stylesheet" href="{% static "home/css/style.css" %}">
		<link rel="stylesheet" href="{% static "home/css/mobile.css" %}">

		<!-- Skin CSS -->
		<!-- <link rel="stylesheet" href="{% static "home/css/skin/cool-gray.css" %}"> -->
        <link rel="stylesheet" href="{% static "home/css/skin/black-blue.css" %}">
        <!-- <link rel="stylesheet" href="{% static "home/css/skin/summer-orange.css" %}"> -->
        <!-- <link rel="stylesheet" href="{% static "home/css/skin/fresh-lime.css" %}"> -->
        <!-- <link rel="stylesheet" href="{% static "home/css/skin/night-purple.css" %}"> -->
        <!-- <link rel="stylesheet" href="{% static "home/css/skin/green.css" %}"> -->

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
        <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">
        
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> 

                  <div class="container">
         <!-- Brand and toggle get grouped for better mobil1e display -->
                    <div class="navbar-header">
                          
                  
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand page-scroll" href="index.html">Microbird</a> --><a class="page-scroll" href="body">
           <img src="{% static "home/img/logo1.png" %}" alt="logo" name="logo" width="125" height="70" />
           </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <li><a class="page-scroll" href="#gallery-section">Gallery</a></li>
                                  
                            <li><a class="page-scroll" href="#Joint-Secreteries-section">Joint Secretaries</a></li>
                            <li><a class="page-scroll" href="#Secreteries-section">Secretaries</a></li>
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
            
            
            
            
        	<!-- Begin text carousel intro section     TODO-Image -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static "home/img/slider-bg.jpg" %});">
				
				<div class="container">
					<div class="caption text-center text-white" data-stellar-ratio="0.7">
                            <h1 style="font-family: 'Rochester', cursiv;">Microbird-The Electronics Club</h1>
						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<p>From Innovation to Implementation</p>								
							</div>
							<div class="item">
								<p>Fly to the greatest Journey</p>
							</div>
							<div class="item">
								<p>YMCA University Of Science & Technology, Faridabad</p>
							</div>
						</div>

                    <div class="extra-space-l"></div>
                    <a class="btn btn-blank page-scroll" href="#about-section" role="button">Explore Us!</a>


					</div> <!-- /.caption -->
				</div> <!-- /.container -->

			</section>
			<!-- End text carousel intro section -->
                
                
                
                
            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <!-- <h5>History</h5> -->
                            <p>It's about passion, versatile interests, principle led approach and never to giveup methodology from top to bottom.</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
               <div class="col-md-3 col-sm-6">
                                <a  class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Who We Are?</h4>
                                        <p>Microbird-The Electronics Club of YMCA University of Science & Technology, founded in 2010.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What We Do?</h4>
                                        <p>Try to learn new things, innovate the new generation solution to implement the best of the class ideas.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Why We Do It?</h4>
                                        <p>To promote the technical awareness in the field of electronics by introducing latest technology among the students to hone their practical skills.</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <a class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                                    <span class="rotate-box-icon"><i class="fa fa-clock-o"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>How we do it?</h4>
                                        <p>We hunt for the good,provide open source environment to meet last men in que and delivers what it takes to accomplish.</p>
                                    </div>
                                </a>
                        </div>
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                
                <div class="extra-space-l"></div>
                
                <!-- Begin page header--> 
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>Our Skills</h4>
                            <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <!-- Begin Our Skills -->
                <div class="our-skills">
                	<div class="container">
                    	<div class="row">
                        
                        	<div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Robotics</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Embedded System</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 89%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Internet of Things</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 36%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                                   <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Circuit Simulation</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 73%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Product Designing</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                               <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Debugging & Repairing</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 42%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                        
                            
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                <!-- End Our Skill -->
          </section>
          <!-- End about section -->

              
              <!-- background-image: url({% static "home/img/youtube-bg.jpg" %}); -->
              
          <!-- Begin cta -->
          <section>
  	<div id="youtube-parallax" class="cta counter-up text-off-white parallax" data-stellar-background-ratio="0.5" style="background-color: #0c3154;">
            	<div class="container">
                	<div class="row">
                        
                        <div class="col-md-6">
                        <center>
                        <div class="cta-btn wow bounceIn" data-wow-delay="0.4s">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/msn5TFTF3n8?rel=0" frameborder="0"></iframe>
    
                          </div>
                          </center>
                        </div>
                    	<div class="col-md-4">
                            <center>
                            <i class="fa fa-youtube fa-3x"></i></center>
                        	<h2>Visit our Youtube Channel</h2>
                            <p>Inspired by nature, follow technology, appreciate the classics. You can see modern & professional electronics with us. The possibilities are just endless.</p>
                        </div>
                        
                        <div class="col-md-4">
                        <center>
                        	<div class="cta-btn wow bounceIn" data-wow-delay="0.4s" >
                        <a class="btn btn-default btn-lg" href="https://www.youtube.com/channel/UC09c3SRYDy5nYg1WDZvF9Yg" target="_blank" role="button" style="background:black;">Visit</a>    
                        <!-- TODO -Add link and icon to youtube channel-->
                        	</div>
                            </center>
                        </div>
                        
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div>
          </section>
          <!-- End cta -->
            <br>
            <hr>
            <br>
               <section id="gallery-section" class="page">
               <div class="container">
                    <div class="row">
                         <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Our Instagram - @microbirdymca</h2>
                    <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                <p>The happy times!</p>
                <br>
            <hr>
            <br>
            </div>

             </div>
             </div>
                <!-- INSTAGRAM WIDGET -->    
                <!-- LightWidget WIDGET -->
                <script src="http://lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/af050bbd4e3153a39f1990562812341f.html" scrolling="auto" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
            </section>

            <!-- Begin counter up -->
            <section id="counter-section">                					
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static "home/img/counter-bg.jpg"%});">
					<div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Fun Facts</h2>
                               <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                                <p class="subtitle">Before anyone is not told</p>
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-4 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">82</span>
									<p class="lead">Members</p>
								</div>
							</div>

							<div class="fact text-center col-md-4 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-flag-checkered fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">18</span>
									<p class="lead">Projects</p>
								</div>
							</div>

							<div class="fact text-center col-md-4 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-trophy fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">21</span>
									<p class="lead">Awards</p>
								</div>
							</div>

		
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div>
            </section>
			<!-- End counter up -->                
                
                
   
            <!-- Begin Joint-Secreteries-section-->
			<section id="Joint-Secreteries-section" class="page">

                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Joint Secretaries</h2>
                          <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">The care takers!</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="extra-space-l"></div>

                 <div class="container">
    <div class="row">
    </div>
    <style type="text/css">
       </style>
    <div class="team-members">
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="{% static "home/img/jsec/1.jpg" %}" alt="" >
            </div>
            <div class="member-info">
              <h3>Ashish Sharma</h3>
              <!-- <p>+91-9582047467</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/ashu285
"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://www.twitter.com/Gadgetsviper
"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/ashish-sharma-4b747a120
"><i class="fa fa-linkedin"></i></a></li>
                 <li><a class="instagram" href="https://www.instagram.com/ashu___sharma
"><i class="fa fa-instagram"></i></a></li>


              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>
        <!-- <br/> -->
        <div class=" col-sm-4">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" height="102" src="{% static "home/img/jsec/2.jpg" %}" alt="">
            </div>
            <div class="member-info">
              <h3>Sushant Gawri</h3>
              <!-- <p>+91-9711895598</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.fb.com/sushant.gawri
"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/gawri_sushant/
"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/sushant-gawri-5a2b59137
"><i class="fa fa-linkedin"></i></a></li>
                 <li><a class="instagram" href="https://www.instagram.com/sushantgawri/
"><i class="fa fa-instagram"></i></a></li>
              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>
        <style type="text/css">
        .img1{
            height: 350px !important;
        }
        </style>
<!-- <br/> -->
        <div class=" col-sm-4">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img1 img-responsive" src="{% static "home/img/jsec/3.jpg" %}" alt="">
            </div>
            <div class="member-info">
                            <h3>Gaurav Kaushik</h3>
              <!-- <p>+91-9971896657</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/gaurav.kaushik.1428921
"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/iamgk89
"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/gaurav-kaushik-a0b8b672/
"><i class="fa fa-linkedin"></i></a></li>
                 <li><a class="instagram" href="https://www.instagram.com/gk_mine/
"><i class="fa fa-instagram"></i></a></li>
              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>

                <!-- <div class="extra-space-l"></div> -->
				<!-- End prices -->
		
			</section>
			<!-- End prices section -->



                        <!-- TODO - See if this is needed. -->
              
            <!-- Begin Secreteries -->
            <section id="Secreteries-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Secretaries</h2>
                           <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">Those who made us a family</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
            
                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            
             <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="{% static "home/img/sec/1.jpg" %}" alt="">
            </div>
            <div class="member-info">
              <h3>Himani Sharma</h3>
              <!-- <p>+91-9999493618</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/himani.sharma.39142"><i class="fa fa-facebook"></i></a></li>
               <!--  <li><a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                 <li><a class="instagram" href="http://www.linkedin.com"><i class="fa fa-instagram"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="{% static "home/img/sec/2.jpg" %}" alt="">
            </div>
            <div class="member-info">
              <h3>Karan Guglani</h3>
              <!-- <p>+91-8447549391</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/karan.guglani.52
"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://mobile.twitter.com/karanguglani7"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="http://linkedin.com/in/karan-guglani-7524b0122
"><i class="fa fa-linkedin"></i></a></li>
                 <li><a class="instagram" href="https://www.instagram.com/karanguglani_28/"><i class="fa fa-instagram"></i></a></li>
              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="{% static "home/img/sec/3.jpg" %}" alt="">
            </div>
            <div class="member-info">
              <h3>Richa Gulati</h3>
              <!-- <p>+91-9015141201</p> -->
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/richa.gulati.733
"><i class="fa fa-facebook"></i></a></li>
               <!--  <li><a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li> -->
                <li><a class="linkedin" href="https://www.linkedin.com/in/richa-gulati-4084b5123
"><i class="fa fa-linkedin"></i></a></li>
               <li><a class="instagram" href="https://www.instagram.com/richagulati2003
"><i class="fa fa-instagram"></i></a></li>
              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="{% static "home/img/sec/4.jpeg" %}" alt="">
            </div>
            <div class="member-info">
              <h3>Hari Mukul Sagar</h3>
              <!-- <p>+91-8860409670</p> -->
            </div>

            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/mukul.sagar.750
"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/harimukulsagar
"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/hari-mukul-sagar-6733588b
"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/hari_the_creator
"><i class="fa fa-instagram"></i></a></li>
              </ul>
                <div class="extra-space-l"></div>

            </div>
          </div>
        </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->                
                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Secreteries -->
                
             
                
                
            <!-- Begin social section -->
			<section id="social-section">
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Join Us</h2>
                          <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">Follow us on social networks</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                  
                <div class="container">
                    <ul class="social-list">
                        <li> <a href="https://www.facebook.com/microbirdymca" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s" target="_blank"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>

                        <li> <a href="https://twitter.com/microbirdymca" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s" target="_blank"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>

                        <li> <a href="https://plus.google.com/101865622262126118400" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s" target="_blank"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>

                        <li> <a href="https://www.youtube.com/channel/UC09c3SRYDy5nYg1WDZvF9Yg" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s" target="_blank"><span class="rotate-box-icon"><i class="fa fa-youtube"></i></span></a></li> 

                        <li> <a href="https://www.instagram.com/microbirdymca" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s" target="_blank"><span class="rotate-box-icon"><i class="fa fa-instagram"></i></span></a></li>                           
                    </ul>
                </div>  
                
            </section>
            <!-- End social section -->
            
                  
            <!-- Begin contact section -->
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static "home/img/map-bg.jpg" %});">
            <div class="cover"></div>
            
                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contacts</h2>
                        <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">All to contact us</p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                
                <div class="contact wow fadeIn" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">
                        
                        <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
                                        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; <a href="http://www.ymcaust.ac.in/" target="_blank">YMCA University of Science and Technology</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mathura Road, NH-2 <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Faridabad, Haryana - 121006</li>
                                        <li><i class="fa fa-phone"></i>&nbsp; +91-9582047467 (Ashish Sharma)</li>
                                        <li><i class="fa fa-envelope"></i> microbirdymca@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        
                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form" method="POST" action="/create-query/">
                                          {% csrf_token %} 
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control input-lg" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control input-lg" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="subject" class="form-control input-lg" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea  name="query" class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow fadeIn" data-wow-delay="0.8s">Send</button>
                                       </form>
                                </div>	
                            </div>
                                                                                
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
            </section>
            <!-- End contact section -->
    
            <!-- Begin footer -->
            <footer class="text-off-white">
            
                <div class="footer-top">
                	<div class="container">
                    	<div class="row wow fadeIn" data-wow-delay="0.6s">

                             <div class="col-sm-12 col-md-4">
                                <h4>Useful Links</h4>
                                <ul class="imp-links">
                                    <li><a href="/member/current-member/" target="_blank">MEMBER</a></li>
                                    <li><a href="/member/alumni-member/" target="_blank">ALUMNI</a></li>
                                    <li><a href="/event/all-upcoming-event/" target="_blank">EVENTS</a></li>
                                    <li><a href="/member/achievement/"target="_blank">ACHIEVEMENTS</a></li>
                                    <!-- <li><a href="5" target="_blank"></a></li> -->
                                    <li><a href="/member/login/">LOGIN</a></li>
                                </ul>
                            </div>
               
                             <div class="col-sm-12 col-md-4">
                                <h4>Educational Links</h4>
                                <ul class="imp-links">
                                    <li><a href="http://www.elementsculmyca.com/" target="_blank">ELEMENTSCULMYCA YMCAUST</a></li>
                                    <li><a href="http://nptel.ac.in/" target="_blank">NPTEL</a></li>
                                    <li><a href="https://www.hackster.io/" target="_blank">HACKSTER</a></li>
                                    <li><a href="https://www.coursera.org/" target="_blank">COURSERA</a></li>
                                    <li><a href="https://www.sparkfun.com/" target="_blank">SPARKFUN</a></li>
                                    <li><a href="https://www.eevblog.com/" target="_blank">EEVBLOG</a></li>
                                </ul>
                            </div>
                        
                        	<div class="col-sm-6 col-md-4">
                                <h4>Subscribe</h4>
                            	<div id="footer_signup">
                                    <div id="email">
                                        <form id="subscribe" method="POST" action="/sub/">
                                                {% csrf_token %}
                                            <input type="text" placeholder="Enter email address" name="email" id="address" data-validate="validate(required, email)"/>
                                            <button  type="submit">Submit</button>                                           <span id="result" class="section-description"></span>
                                        </form> 
                                    </div>
                                </div> 
                                <p>Subscribe to get latest updates and notifications.</p> 
                            </div>
                       
          
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>
                
                <div class="footer">
                    <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                        <p class="copyright">Designed with <i class="fa fa-heart"> and <i class="fa fa-coffee"></i></i> by <a href="http://www.namansachdeva.ml/" class="theme-author" target="_blank">Naman Sachdeva</a> , <a href="https://www.facebook.com/gajendergupta21" class="theme-author" target="_blank">Gajendar Gupta</a> &amp; <a href="https://www.facebook.com/tejpreet.kaur.507
" class="theme-author" target="_blank">Tejpreet Kaur</a></p>
                    </div>
                </div>

            </footer>
            <!-- End footer -->

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->
                                              
        </div><!-- body ends -->
        
        
        
        
        <!-- Plugins JS -->
		<script src="{% static "home/inc/jquery/jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "home/inc/bootstrap/js/bootstrap.min.js" %}"></script>
		<script src="{% static "home/inc/owl-carousel/js/owl.carousel.min.js" %}"></script>
		<script src="{% static "home/inc/stellar/js/jquery.stellar.min.js" %}"></script>
		<script src="{% static "home/inc/animations/js/wow.min.js" %}"></script>
        <script src="{% static "home/inc/waypoints.min.js" %}"></script>
		<script src="{% static "home/inc/isotope.pkgd.min.js" %}"></script>
		<script src="{% static "home/inc/classie.js" %}"></script>
		<script src="{% static "home/inc/jquery.easing.min.js" %}"></script>
		<script src="{% static "home/inc/jquery.counterup.min.js" %}"></script>
		<script src="{% static "home/inc/smoothscroll.js" %}"></script>
		<!-- Theme JS -->
		<script src="{% static "home/js/theme.js" %}"></script>

    </body> 
        
            
</html>
