{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Achievements</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'achievement/css1/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'achievement/css1/logo-nav.css' %}" rel="stylesheet">


<!-- css-->

<link rel="stylesheet" type="text/css" href="{% static 'achievement/fonts/font-awesome/css/font-awesome.css' %}">

<link rel="stylesheet" type="text/css"  href="{% static 'achievement/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'achievement/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'achievement/css/nivo-lightbox/default.css' %}">
<link href="{% static 'achievement/agency.min.css' %}" rel="stylesheet">


    <style type="text/css">
     @media screen and (min-width: 275px)  {
        .custom{
            margin-bottom: 10px;

        }

        }

        .btn-primary{
            background-color: black ;
            color: white;
        }
      }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" target="_blank">
                    <img src="{% static 'achievement/logo.png'%}" alt="" width="125" height="50">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/member/current-member/">Members</a>
                    </li>
                    <li>
                        <a href="/member/alumni-member/">Alumni</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    







  <div class="container">
    <div class="row">

      
             <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Achievements</h2>
                           <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">Achievement results from work realizing ambition.</p>
                        </div>
                    </div>
                </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l1.jpg' %}" title="Get Together" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>EYRC COMPETITION</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s1.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l2.jpg' %}" title="Light Show" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>ESCALADE IIT-GUWAHATI'15</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s2.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l3.jpeg' %}" title="Bharat Swachh Abhiyan" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>iPDC IIT-KANPUR</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s3.jpeg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l4.jpg' %}" title="NAAC Peer team visit" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>IIT-MADRAS</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s4.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l5.jpg' %}" title="National Science Centre" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>iARC IIT-KANPUR </h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s5.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l6.jpg' %}" title="Workshop" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>KALPANA IIT-BOMBAY</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s6.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l7.jpg' %}" title="Circuit Design" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>ESCALADE IIT-GUWAHATI'16</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s7.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{% static 'achievement/img/portfolio/l8.jpg' %}" title="Playing Football" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>ESCALADE IIT-GUWAHATI'16</h4>
              </div>
              <img src="{% static 'achievement/img/portfolio/s8.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
       
     
    </div>
  </div>





  <!-- <div class="container jumbotron" style="background-color: white;"> -->

 <center><h6 style="margin-top: 170px;">&copy; 2017 Microbird. All rights reserved.</h6></center>

  <!-- </div> -->
    <!-- jQuery -->
    <script src="{% static 'achievement/js1/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'achievement/js1/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'achievement/js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'achievement/js/main.js' %}"></script>
<script type="text/javascript">
  

    // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
    $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
        
</script>
</body>

</html>
