{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

<style type="text/css">
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #0c3154;
  font-family: 'Titillium Web', sans-serif;

}


.form {
  /*background: rgba(19, 35, 47, 0.6);*/
  background: #000;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;              
  border-radius: 4px;
  border: 4px solid #0c3154;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: #000;
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  /*position: absolute;*/
  left: 13px;
  /*color: rgba(255, 255, 255, 0.5);*/
  color: white;
 
  pointer-events: none;
  font-size: 20px;
}

.field-wrap {
  position: relative;
  margin-bottom: 1px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
  float: right;
}

h4{
color: white;
text-decoration: none;

}
h4 > a {
  color: #24ab86;
  text-decoration: none;
}
input, textarea{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 10px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
select,option{
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;

  transition: border-color .25s ease, box-shadow .25s ease;
}

select{
  background: none;
}
option{
  background:rgba(19, 35, 47, 0.9) ;
}

input:focus, textarea:focus,input:hover,select:focus,select:hover {
  outline: 5;
  border-color: #ff0000;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
  border-color: #ff0000
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;

}

.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;

} 
.btn{
	 border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;
  height:auto;
  width:auto;
  margin-left: 950px;
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}

</style>
		<title>
		 Login
		 </title>
	</head>
<body>
	 

<br><br>
<br><br>

	 <h1>Welcome Back</h1>


      <div class="form">
				 <form id="login_form" method="post" action="/member/login/">
	         	{% csrf_token %}

	           		<label>Username:</label>
	           		<input type="text" name="username" alt="username" />
				 		
		
           				 

             		 <label>Password:</label>
           			<input type="password" name="password" alt="password" />

     			 <input type="submit" name="submit" value="Login" class="button button-block">
     			 <h4>Forgot password? Contact<a  href="/#Joint-Secreteries-section"/> Admin</a></h4>

			</form>
   
			</div>
		</body>
</html>