{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css"  href="{% static 'home/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/fonts/font-awesome/css/font-awesome.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{ % static 'css/member.css' % }" /> -->
<style type="text/css">
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /*background: rgba(19, 35, 47,0.9);*/
  background-color: #0c3154;
  font-family: 'Titillium Web', sans-serif;

}


.form {
  /*background: rgba(19, 35, 47, 0.9);*/
  background: black;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;              
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
h3 > a{
  text-align: center;
  color: #ff0000;
  font-weight: 200;
  margin: 0 0 40px;
}
h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 200;
  margin: 0 0 40px;
}

label {
  /*position: absolute;*/
  left: 13px;
  color: rgba(255, 255, 255, 1);
 
  pointer-events: none;
  font-size: 20px;
}

.field-wrap {
  position: relative;
  margin-bottom: 1px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
  float: right;
}


input, textarea{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 10px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
select,option{
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;

  transition: border-color .25s ease, box-shadow .25s ease;
}

select{
  background: none;
}
option{
  background:rgba(19, 35, 47, 0.9) ;
}

input:focus, textarea:focus,input:hover,select:focus,select:hover {
  outline: 5;
  border-color: #ff0000;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
  border-color: #ff0000
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;
  width: 100%;
}
.btn{
   border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;
  height:auto;
  width:auto;
  margin-left: 20px;
  margin-top: 20px;
  /*margin-left: 990px;*/
  /*float:right;*/
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}

</style>
    <title>
     Member
     </title>
  </head>
<body>
  
  <br><br>
   <h1>Register New Member</h1>

        {% if registered %}
       <div class="alert alert-success" role="alert"> <h1>Thank you!</h1>
        <h3> <a href="/member/create-member/" />Click here</a> to register new member</h3>

        </div> 
        {% else %}
      
      <div class="form">
         <form id="user_form" method="post" action="/member/create-member/"
                enctype="multipart/form-data">
              {% csrf_token %}

              <label for={{ form.username.id_for_label}} > Username:</label>
            {{user_form.username}}
          
              <label for={{ form.email.id_for_label}}> Email address:</label>
                       {{user_form.email}}

              <label for={{ form.password.id_for_label}} > Password:</label>
                    {{user_form.password}}
           
                    <label for={{ form.name.id_for_label}} > Name:</label>
                    {{profile_form.name}}
                    
                  
              <label for={{ form.roll_no.id_for_label}} > Roll no:</label>
                    {{profile_form.roll_no}}
           
 
              <label for={{ form.address.id_for_label}} > Address:</label>
                    {{profile_form.address}}
           
                            <label for={{ form.mobile_no.id_for_label}} > Mobile no:</label>
                    {{profile_form.mobile_no}}

                   <label for={{ form.linkedin_link.id_for_label}} > Linkedin link:</label>
                    {{profile_form.linkedin_link}}
           
                <label for={{ form.facebook_link.id_for_label}} > Facebook link:</label>
                    {{profile_form.facebook_link}}

                      <label for={{ form.twitter_link.id_for_label}} > Twitter link:</label>
                    {{profile_form.twitter_link}}


                      <label for={{ form.instagram_link.id_for_label}} > Instagram link:</label>
                    {{profile_form.instagram_link}}


                  <label for={{ form.year.id_for_label}} > Batch Passing Year:</label>
                    {{profile_form.year}}


                   <label for={{ form.myfile.id_for_label}} > Profile pic:</label>
                      <input type="file" name="myfile" >
           
                 
                <div class="top-row">  <div class="field-wrap">  <label for={{ form.branch.id_for_label}} > Branch:</label>
                        <select name="branch" required autocomplete="off">
                        <option value="">----select----</option>
                  <option value="ECE">ECE</option>
                  <option value="EIC">EIC</option>
                  <option value="IT">IT</option>
                  <option value="CE">CE</option>
                  <option value="EL">EL</option>
                  <option value="ME">ME</option>
                  </select></div>

         <div class="field-wrap">    <label for={{ form.post.id_for_label}} > Post:</label>
                        <select name="post" required autocomplete="off">
                        <option value="">----select----</option>
                  <option value="Secretary">Secretary</option>
                  <option value="Joint Secretary">Joint Secretary</option>
                  <option value="Sessions Head">Sessions Head</option>
                  <option value="IT Head">IT Head</option>
                  <option value="Senior Coordinators">Senior Coordinators</option>
                  <option value="Member">Member</option>
                  </select></div>
              


</div><br/><br/>
                      
 
                 <input type="submit" name="submit" value="submit" class="button button-block">
        </div>
      </form>
        {% endif %}
      </div>
    </body>
</html>