{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{request.user}}&nbsp Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {% static 'login_admin/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'login_admin/css/logo-nav.css' %}" rel="stylesheet">
    <style type="text/css">
     @media screen and (min-width: 275px)  {
        .custom{
            margin-bottom: 10px;

        }

        }

        .btn-primary{
            background-color: black ;
            color: white;
        }
    
    
}
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" target="_blank">
                    <img src="{% static 'login_admin/aaa.png'%}" alt="" width="150" height="50">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/admin/" target="_blank">Django Admin</a>
                    </li>
                    <li>
                        <a href="http://www.ymcaust.ac.in/" target="_blank">YMCA UST</a>
                    </li>
                    <li>
                        <a href="/member/logout/">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    


<div class="jumbotron" style="background-color: white;"><div class="container">
  <h1>Hi! Admin {{request.user}}</h1>
  <p>This is very confidential page please don't share with anybody.</p>
  <hr/>
  <p>
 
    <a class="btn btn-primary btn-lg custom" href="/member/create-member/" role="button" target="_blank">Register Member</a>
    <a class="btn btn-primary btn-lg custom" href="/event/create-event/" role="button" target="_blank">Create Event</a>
    <!-- <a class="btn btn-primary btn-lg custom" href="#" role="button" target="_blank"></a> -->
   
    <a class="btn btn-primary btn-lg custom" href="/member/all-member/" role="button" target="_blank">All Members</a>
    <a class="btn btn-primary btn-lg custom" href="/event/all-event/" role="button" target="_blank">All Events</a>
 
   
  </p>
  
  
<hr/>
  </div>
  

 <center><h4 style="margin-top: 170px;">&copy; 2017 Microbird. All rights reserved.</h4></center>

  
    <script src="{% static 'login_admin/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'login_admin/js/bootstrap.min.js' %}"></script>

</body>

</html>
