{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alumni</title>
    <meta name="description" content="Microbird , YMCAUST Electronics Club Website">
    <meta name="keywords" content="Microbird website, electronics club, ymcaust,ymca faridabad,ymca club,technical club" />
    <meta name="author" content="IT Cell, Microbird">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->
<!-- <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Righteous" rel="stylesheet"> -->
    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="{% static "home/inc/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "home/inc/animations/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "home/inc/font-awesome/css/font-awesome.min.css" %}"> <!-- Font Icons -->
    <link rel="stylesheet" href="{% static "home/inc/owl-carousel/css/owl.carousel.css" %}">
    <link rel="stylesheet" href="{% static "home/inc/owl-carousel/css/owl.theme.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
    <!-- Theme CSS -->
        <link rel="stylesheet" href="{% static "home/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "home/css/mobile.css" %}">


        <link rel="stylesheet" href="{% static "home/css/skin/black-blue.css" %}">
  
        <!-- <link rel="stylesheet" href="{% static "home/css/skin/green.css" %}"> -->

  </head>
                      <style type="text/css">
                           .magic{
                               height: 250px;
                               width: 250px;
                           }
                           .magic1{
                               height: 50px;
                               width: 250px;
                           }
                           @media only screen and (min-width: 360px) {
                               .team-member{
                                   margin-left: 39px !important;
                               }
                               .magic1 {
                                   height: 50px;
                                   width: 250px;
                                   margin-top: -16px;
                               }
                               
                           }
                       </style>
    <body data-spy="scroll" data-target="#main-navbar">
     <!-- Display loading image while page loads -->
      <div class="body">
        
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> 
                  <div class="container">
         <!-- Brand and toggle get grouped for better mobil1e display -->
                    <div class="navbar-header">
                          
                  
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                     <a class="page-scroll" href="/">
           <img src="{% static "home/img/logo1.png" %}" alt="logo" name="logo" width="125" height="70" />
           </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="/member/current-member/">Member</a></li>
                            <li><a class="page-scroll" href="/member/achievement/">Achievement</a></li>
                          </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container -->
                </nav>
                <!-- End Navbar -->

            </header>
            <!-- ========= END HEADER =========-->
                    <div class="extra-space-l"></div>
        
            <!-- Begin Secreteries -->
            <section id="Secreteries-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Alumni</h2>
                           <div style="width: 100%;height: 23px;
    background: url({% static 'home/img/devider.png'%}) no-repeat center center;
    margin: 5px 0 10px;"></div>
                            <p class="subtitle">Nobody is bothered about an institution more than its alumni. <b>N. R. Narayana Murthy</b></p>
                        </div>
                    </div>
                </div>
                <!-- End page header-->
              {% for j in obj2 %} 
      
                

     
               {% for i in j %} 
           {% if forloop.counter < 2%}
               
                
                          <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                <div class="alert alert-info" role="alert">{{i.year}}</div>



                
             {% endif %}

               <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image magic">
              <img class="img-responsive" src="{{i.profile_pic.url}}" alt="">
            </div>
            <div class="member-info magic1">
              <!-- <br/> -->
              <h3>{{i.name}}</h3>
              <p>{{i.post}}</p>
            </div>
                    <div class="extra-space-l"></div>

            <div class="social-icons magic1">
              <ul>
                {% if i.facebook_link %}
                <li><a class="facebook" href="{{i.facebook_link}}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if i.twitter_link %}
                
                <li><a class="twitter" href="{{i.twitter_link}}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if i.instagram_link %}
                <li><a class="linkedin" href="{{i.linkedin_link}}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if i.linkedin_link %}
                 <li><a class="instagram" href="{{i.instagram_link}}"><i class="fa fa-instagram"></i></a></li>{% endif %}
              </ul>
          </div>
                 
          </div>
        </div>

          {% endfor %}  
          
    
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->                
                </div>
          {% endfor %}  

                <!-- End rotate-box-2 -->
            </section>
            <!-- End Secreteries -->
                
         </div>    

        
        
        <!-- Plugins JS -->
    <script src="{% static "home/inc/jquery/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "home/inc/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "home/inc/owl-carousel/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "home/inc/stellar/js/jquery.stellar.min.js" %}"></script>
    <script src="{% static "home/inc/animations/js/wow.min.js" %}"></script>
        <script src="{% static "home/inc/waypoints.min.js" %}"></script>
    <script src="{% static "home/inc/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "home/inc/classie.js" %}"></script>
    <script src="{% static "home/inc/jquery.easing.min.js" %}"></script>
    <script src="{% static "home/inc/jquery.counterup.min.js" %}"></script>
    <script src="{% static "home/inc/smoothscroll.js" %}"></script>
    <!-- Theme JS -->
    <script src="{% static "home/js/theme.js" %}"></script>

    </body> 
        
            
</html>
