{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">
    
<link rel="stylesheet" type="text/css"  href="{% static 'member/all_member.css' %}">

		
		<title>
		 Member
		 </title>
	</head>
<body>
	
		<h1>MicroBird Family</h1>
  

     
 <div class="form">
     
        
      
        <table>
          <thead id="aa">
            <td id="a1">User_Id</td>
            <td id="a2">UserName</td>
            <td id="a3">Name</td>
            <td id="a3">Branch</td>
            <td id="a3">Mobile_No</td>
          

            <td id="a3">Gmail_id</td>
          </thead>
     {% for i in obj %}
          <tbody>
            <td>{{i.id}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.name}}</td>
           <td>{{i.branch}}</td>
           <td>{{i.mobile_no}}</td>

            <td>{{i.user.email}}</td>
                      </tr>
          </tbody>
          {% endfor %}
        </table>
//only testing purpose
//yes
//no
   </div>
		</body>
</html>
