{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">

  <style type="text/css">
    *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /*background: rgba(19, 35, 47,0.9);*/
  background: #0c3154;
  font-family: 'Titillium Web', sans-serif;

}


.form {
  /*background: rgba(19, 35, 47, 0.9);*/
  background: #000;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;              
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 10 0 40px;
}

label {
  /*position: absolute;*/
  left: 13px;
  color: rgba(255, 255, 255, 1);
 
  pointer-events: none;
  font-size: 20px;
}

.field-wrap {
  position: relative;
  margin-bottom: 1px;

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
  float: right;
}


#e1,input, textarea{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 10px;
  transition: border-color .25s ease, box-shadow .25s ease;
}
select,option{
  font-size: 20px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;


}

select{
  background: none;
}
option{
  background:rgba(19, 35, 47, 0.9) ;
}

input:focus,input:hover,select:focus,select:hover,textarea:hover {
  outline: 5;
  border-color: #ff0000;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
  border-color: #a0b3b0;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;

}
.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;
  width: 100%;
}

.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;
  width: 100%;
}
.btn{
   border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;
  height:auto;
  width:auto;
  margin-left: 20px;
  margin-top: 20px;
  /*margin-left: 990px;*/
  /*float:right;*/
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}
  </style>
		<link rel="stylesheet" href="css/style.css">
		<title>
		 Info form
		 </title>
	</head>
<body>
	    
  
      <br><br>
		<h1>Please fill this form </h1>
			<div class="form">
				<form method="POST">
				{% csrf_token %}
                   <label>Event-Id</label>
           
                <input type="text" name="eventid" value="{{event_id}}" readonly />
                 <label>Event-Title</label>
           
                <input type="text" name="eventTitle" value="{{event_title}}" readonly />

           		  <label> Roll-No</label>

				 				<input type="text" name="rollno" value="" required autocomplete="off"/>
					
           			<label>Name</label>
           			<input type="text" name="name" value="" required autocomplete="off"/>

           	
           			<label>Email-id</label>
           			<input type="email" name="emailid" value="" required autocomplete="off"/>
 
                 <label>Mobile-No</label>
                <input type="text" name="mobileno" value="" required autocomplete="off" maxlength="10" />

							   <div class="top-row">  <div class="field-wrap">   <label>Branch</label>
                        <select name="branch" required autocomplete="off">
                        <option value="">----select----</option>
                  <option value="ECE">ECE</option>
                  <option value="EIC">EIC</option>
                  <option value="IT">IT</option>
                  <option value="CE">CE</option>
                  <option value="EL">EL</option>
                  <option value="ME">ME</option>
                  </select></div>

             <div class="field-wrap">     <label >Year</label>
                        <select name="year" required autocomplete="off">
                        <option value="">----select----</option>
                  <option value="1">First</option>
                  <option value="2">Second</option>
                  <option value="3">Third</option>s
                  <option value="4">Fourth</option>
                  </select></div>
 
      </div>

           

      <br/><br/>
           					  


				       <input type="submit" name="submit" value="submit" class="button button-block">
				</div>
			</form>

			</div>
		</body>
</html>