{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
  <link rel="shortcut icon" href="{% static "home/img/12.png" %}" type="image/x-icon">
    
    <style type="text/css">
 
      *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  /*background: rgba(19, 35, 47,0.9);*/
  background: #0c3154;
  font-family: 'Titillium Web', sans-serif;

}


.form {
  /*background: rgba(19, 35, 47, 0.9);*/
  background: #000;
  padding: 40px;
  max-width:auto;
  min-width: 1000px;
  margin: 40px auto;              
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 10 0 40px;
}

table{
  border:4px solid #ff00ff;
  text-align: center;
 max-width:100%;
  min-width: 100%;

}

tbody
{
  border:2px solid #ff0000;
   background-color: #0c3154; 
   color:white;
}
.aa{

  color: #000;
  background: #fff;

}
#a4
{
  width: 100%;
}
.button:hover, .button:focus {
  background: #1ab1b8;
}

.button-block {
  display: block;
  width: 100%;
}
.btn{
   border: 0;
  outline: none;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  position: fixed;
  height:auto;
  width:auto;
  margin-left: 20px;
  margin-top: 20px;
  /*margin-left: 990px;*/
  /*float:right;*/
}
.btn:hover, .btn:focus {
  background: #1ab1b8;
}
    </style>
    <title>All Submit Forms</title>
  </head>
    <body>
          
  
      <br><br>
      <h1>All Forms</h1>
      <div class="form">
      <form method="">
        
      
        <table>
<form method="POST" action=""

          <thead>
            <td class="aa">Event-Id</td>
            <td class="aa">Form-No</td>
            <td class="aa">Roll-No</td>
            <td class="aa">Name</td>
            <td class="aa">Email-id</td>
            <td class="aa">mobile-No</td>
            <td class="aa">Branch</td>
            <td class="aa">Year</td>
          </thead>
          {% for i in view1 %}
          <tbody>
            <td>{{i.event_no}}</td>
            <td>{{i.id}}</td>
            <td>{{i.roll_no}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email_id}}</td>
            <td>{{i.mobile_no}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.year}}</td>
        
          </tbody>
          {% endfor %}
        </table>

  

    </body>
</html>